@model IEnumerable<CareerCloud.Pocos.ApplicantEducationPoco>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<hr />
<partial name="~/Views/Shared/Partials/_Education.cshtml" model="@Model" />
