@model IEnumerable<CareerCloud.Pocos.ApplicantWorkHistoryPoco>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<hr />
<partial name="~/Views/Shared/Partials/_WorkHistory.cshtml" model="@Model" />

