<div class="text-center">
    <img class="home-background-image" src="~/images/home.jpg" alt="About" />
    <h1 class="display-4">Welcome</h1>
    <p>We connect job seekers and recruiters on a single portal!</p>
</div>
